---
import Star from '@/components/Star.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '@/consts';
import Base from '@/layouts/Base.astro';

import DiscordIcon from '@/assets/discord.svg';
import GithubIcon from '@/assets/github.svg';

const stars = [
  { top: '8%', left: '45%', delay: '0s' },
  { top: '35%', left: '70%', delay: '0.7s' },
  { top: '15%', left: '10%', delay: '1.2s' },
  { top: '30%', left: '25%', delay: '1.8s' },
  { top: '45%', left: '10%', delay: '0.5s' },
  // { top: '40%', left: '75%', delay: '0.s' },
  { top: '20%', left: '80%', delay: '1s' },
  // { top: '70%', left: '30%', delay: '0.2s' },
  // { top: '90%', left: '60%', delay: '1.2s' },
  { top: '50%', left: '90%', delay: '1.5s' },
  // { top: '90%', left: '5%', delay: '1.2s' },
];
---

<style>
  .glow {
    text-shadow: 0 0 10px rgba(34, 255, 94, 0.7);
  }
</style>

<Base title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <div
    class="flex h-full items-center justify-center bg-gradient-to-b from-slate-900 via-slate-800 to-slate-700 text-white"
  >
    <div class="text-center">
      <h1 class="glow mb-6 text-6xl font-bold">Verdi</h1>
      <h2 class="glow mb-8 text-xl">The Elegant Wayland Compositor</h2>

      <div class="grid grid-cols-2 gap-2">
        <a
          href="https://github.com/verdiwm/verdi"
          target="_blank"
          class="relative rounded-full bg-zinc-900 px-4 py-2 font-bold transition-all duration-300 ease-in-out hover:bg-black"
        >
          <GithubIcon class="mr-1 inline-block h-4 w-4" />
          View on GitHub
        </a>
        <a
          href="https://chat.verdi.rocks"
          target="_blank"
          class="relative rounded-full bg-indigo-700 px-4 py-2 font-bold transition-all duration-300 ease-in-out hover:bg-indigo-600"
        >
          <DiscordIcon class="mr-1 inline-block h-4 w-4" />
          Join our Community
        </a>
      </div>

      <h3 class="mt-5 text-gray-400">Coming Soon</h3>
    </div>
    {
      stars.map(({ top, left, delay }) => (
        <Star top={top} left={left} delay={delay} />
      ))
    }
  </div>
</Base>
